<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usuarios.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='css/style_navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_Panel_Admin.css') }}">
    <title>Panel Administrador</title>
</head>
<body>

<header>
    <a href="#" class="logo">
        <img src="{{ url_for('static', filename='images/ALYEN_LOGO.png') }}" alt="Logo ALYEN">
        <!-- <h1>ALYEN</h1> -->
    </a>
    <button class="menu-toggle" aria-label="Abrir menú">☰</button>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
    </nav>
</header>

<div id="flash-messages"></div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

</div>

<div class="user-panel">
    <div class="user-info">
        <img src="{{ url_for('static', filename='images/perfil/' + imagen_perfil) }}" alt="User Avatar" class="user-avatar">
        <p class="user-name">{{ nombre }} {{ apellido }}</p>
        <p class="user-email">{{ correo }}</p>
    </div>
    <div class="user-details">
        <div class="detail-item">
            <i class="fas fa-briefcase"></i>
            <p>Cargo: Desarrollador</p>
        </div>
        <div class="detail-item">
            <i class="fas fa-sitemap"></i>
            <p>Área: {{tipos_user}}</p>
        </div>
        <div class="detail-item">
            <i class="fas fa-phone-alt"></i>
            <p>Teléfono: {{ celular }}</p>
        </div>
        <div class="detail-item">
            <i class="fas fa-map-marker-alt"></i>
            <p>Dirección: {{ direccion }}</p>
        </div>
    </div>
</div>

<main>
    <div class="nuevo_user">
        <h1>Lista de Usuarios</h1>
        <input type="text" id="searchInput" placeholder="Buscar usuario..." oninput="filterTable()">
        <a href="{{ url_for('nuevo_usuario') }}" class="btn btn-primary" onclick="openNewWindow(event)">Agregar Usuario</a>

        <table id="usersTable" class="table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Imagen de Perfil</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Correo</th>
                    <th>Celular</th>
                    <th>Dirección</th>
                    <th>Tipo de Usuario</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario[0] }}</td>
                        <td>
                            {% if usuario[7] %}
                                <img src="{{ url_for('static', filename='images/perfil/' + usuario[7]) }}" alt="Imagen de {{ usuario[1] }}" width="50" height="50">
                            {% else %}
                                <img src="{{ url_for('static', filename='images/perfil/default.png') }}" alt="Imagen por defecto" width="50" height="50">
                            {% endif %}
                        </td>
                        <td>{{ usuario[1] }}</td>
                        <td>{{ usuario[2] }}</td>
                        <td>{{ usuario[3] }}</td>
                        <td>{{ usuario[5] }}</td>
                        <td>{{ usuario[6] }}</td>
                        <td>{{ usuario[8] }}</td>
                        <td>{{ usuario[9] }}</td>
                        <td>
                            <a href="javascript:void(0);" class="btn btn-edit" style="margin-bottom: 10px;" 
                                data-url="{{ url_for('editar_usuario', id=usuario[0]) }}" 
                                onclick="openWindow(this)">
                                <i class="fas fa-edit"></i> Editar
                            </a>
                                                     
                            <form action="{{ url_for('borrar_usuario', id=usuario[0]) }}" method="POST" style="display:inline;">
                                <button type="submit" class="btn btn-delete">
                                    <i class="fas fa-trash-alt"></i> Eliminar
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</main>

<script>

    function filterTable() {
        const input = document.getElementById('searchInput');
        const filter = input.value.toLowerCase();
        const table = document.getElementById('usersTable');
        const rows = table.getElementsByTagName('tr');

        for (let i = 1; i < rows.length; i++) {
            const cells = rows[i].getElementsByTagName('td');
            let found = false;

            for (let j = 0; j < cells.length; j++) {
                if (cells[j]) {
                    const txtValue = cells[j].textContent || cells[j].innerText;
                    if (txtValue.toLowerCase().indexOf(filter) > -1) {
                        found = true;
                        break;
                    }
                }
            }

            rows[i].style.display = found ? '' : 'none';
        }
    }


    function openWindow(element) {
        const url = element.getAttribute('data-url');
        const width = 600;
        const height = 600;
        const left = (screen.width / 2) - (width / 2);
        const top = (screen.height / 2) - (height / 2);
        const newWindow = window.open(url, 'Editar Usuario', `width=${width},height=${height},top=${top},left=${left}`);

        const checkClosed = setInterval(() => {
            if (newWindow.closed) {
                clearInterval(checkClosed);
                window.location.reload(); // Recarga la página principal al cerrar
            }
        }, 200); // Verifica cada 200 ms
    }

    function openNewWindow(event) {
        event.preventDefault();
        const url = event.currentTarget.href;
        const width = 600;
        const height = 600;
        const left = (screen.width / 2) - (width / 2);
        const top = (screen.height / 2) - (height / 2);
        const newWindow = window.open(url, 'Agregar Usuario', `width=${width},height=${height},top=${top},left=${left}`);

        const checkClosed = setInterval(() => {
            if (newWindow.closed) {
                clearInterval(checkClosed);
                window.location.reload(); // Recarga la página principal al cerrar
            }
        }, 200); // Verifica cada 200 ms
    }




    function updatePanelAdmin() {
        // Recarga la página del panel
        window.location.reload();
    }

</script>

    
</body>
</html>
